@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTMediumOblique.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('DroidSerif-BoldItalic-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	color: rgba(0,0,0,0.6);
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'FuturaPT',futura,arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.arrow:hover {
    color: white;
}

.arrow-white {
    color: white;
}

 .arrow-white:hover {
    color: #7BAABE;
}

.section{
	text-align:center;
}

/*  SECTION-WELCOME */

.section-welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-welcome-wrapper h1 {
    font-size: 8vmin;
    padding: 2% 15%;
    height: 15%;
    color: #ECF0F1;
}

.section-welcome-wrapper p {
    font-size: 4vmin;
}

#section-welcome img {
    width: 25vmin;
    border-radius: 50%;
    border: 5px solid #ECF0F1;
}

/*  SECTION-DATA */

.section-data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.section-data-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

#section-data h1 {
    padding: 0% 10% 7%;
    font-size: 8vmin;
    color: #ECF0F1;
}

#section-data p {
    font-size: 3vmin;
}

.graph-frame {
    width: 70vmin;
    height: 70vmin;
    /*min-width: 400px;*/   
}   

@media (orientation: portrait) {
    .section-data-wrapper {
        flex-direction: column;
    }
    #section-data h1 {
        padding: 0% 3% 7%;
    }
    .section-data-text-wrapper {
        width: 70%;
        margin-bottom: 0.025%;
    }
}

/*  SECTION-COLUMBIA */

.section-columbia-wrapper {
    width: 100%;
    height: 100%;
    background: no-repeat center url(../img/columbia-background.jpg);
    background-size: cover;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; 
}

.section-columbia-wrapper h1 {
    font-size: 8vmin;
    padding: 3vmin 3vmin 1.5vmin 3vmin;
    width: 40%
}

.section-columbia-wrapper h1 span {
    background-color: rgba(123, 170, 190, 0.9);
    color: white;
    padding: 0px 10px;
}

.section-columbia-wrapper p {
    padding: 1.5vmin 3vmin 3.0vmin 3vmin;
    width: 40%;
    font-size: 4vmin;
    margin-bottom: -8vmin;  
}

.section-columbia-wrapper p span {
    background-color: rgba(123, 170, 190, 0.9);
    color: white;
    padding: 0px 10px 0px 0px;
}

.section-columbia-arrow {
    align-self: center;
    color: white;
    padding: 5px;
}

/*  SECTION-TAXIS */

.section-taxis-wrapper, .taxis-map-wrapper {
    width: 100%;
    height: 100%;
}

.section-taxis-column {
    position: absolute;
    bottom: 5vmin;
    right: 7vmin;
    color: white;
    height: 100%;
    width: 60vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.section-taxis-column-title {
    font-size: 6vmin;
    line-height: 7vmin;
    padding: 2vmin 0px;
}

.section-taxis-column-description {
    color: white;
    font-size: 3vmin;
    padding: 2vmin 0px;
    /*text-align: left;*/
}

/*  SECTION-PHOTOGRAPHY */

.section-photography-wrapper {
    width: 100%;
    height: 100%;
    background: no-repeat center url(../img/lion.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-photography-wrapper h1 {
    color: white;
    padding: 30px 30px 15px 30px;
    text-align: left;
    font-size: 8vmin;
}

.section-photography-description {
    color: white;
    padding: 30px 30px 15px 30px;
    text-align: left;
    width: 30%;
    font-size: 3vmin;
}

.section-photography-footer {
    width: 40%;
    margin-top: auto;
    font-size: 2vmin;
    color: white;
    text-align: right;
    align-self: flex-end;
    padding: 5px 5px;
    margin-bottom: -70px;
}

.section-photography-arrow {
    align-self: center;
    color: white;
    padding: 5px;
}

/*  SECTION-TRAVEL */

.section-travel-wrapper {
    width: 100%;
    height: 100%;
    background: no-repeat top url(../img/tokyo-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}

.section-travel-wrapper h1 {
    color: white;
    padding: 30px 30px 15px 30px;
    text-align: left;
    /*margin-top: -70px;*/
    width: 40%;
    font-size: 8vmin;
}

.section-travel-description {
    color: white;
    padding: 30px 30px 15px 30px;
    text-align: left;
    width: 30%;
    font-size: 3vmin;
}

.section-travel-footer {
    width: 40%;
    margin-top: auto;
    font-size: 2vmin;
    color: white;
    text-align: right;
    align-self: flex-end;
    padding: 5px 5px;
    margin-bottom: -70px;
}

.section-travel-arrow {
    align-self: center;
    color: white;
    padding: 5px;
}

.section-travel-wrapper a {
    color: white;
}

/*  SECTION-SITE */

.section-site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-site-wrapper h1 {
    color: white;
    font-size: 15vmin;
    padding: 0% 10%;
}

.section-site-wrapper p {
    color: rgba(255,255,255,0.7);
    font-size: 4vmin;
    padding: 3% 10%;
}

.section-site-arrow-down {
    color: rgba(255,255,255,0.7);
}

.section-site-arrow-down:hover {
    color: white;
}

/*  SECTION-ATTEND */

.section-attend-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-attend-wrapper h1 {
    color: white;
    font-size: 10vmin;
    padding: 0% 10%;
}

.section-attend-wrapper p {
    color: rgba(255,255,255,0.7);
    font-size: 4vmin;
    padding: 3% 10%;
}

/*SECTION-FINALE*/

.section-finale-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section-finale-wrapper h1 {
    color: white;
    font-size: 17vmin;
    padding: 0% 10%;
}

.section-finale-wrapper p {
    color: rgba(255,255,255,0.7);
    font-size: 4vmin;
    padding: 3% 10%;
}

.section-finale-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 4vmin;
    padding: 3% 0%;
}

