@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: futura,arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 3em;
    padding: 3% 15%;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

.section0-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow {
    /*width: 100%;*/
}

 .arrow:hover {
    color: white;
}

.arrow-white {
    color: white;
}

 .arrow-white:hover {
    color: #7BAABE;
}

#section0 h1 {
    color: #ECF0F1;
}
#section0 p {
    margin-bottom: 25px;
}

#section0 img {
    width: 20%;
    border-radius: 50%;
    border: 5px solid #ECF0F1;
}

.section1-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow:row wrap;
}

.section1-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

#section1 h1 {
    padding: 0% 10% 7%;
    font-size: 3em;
    color: #ECF0F1;
}

.graph-frame {
    width: 40%;
    min-width: 400px;
}

.section2-wrapper {
    width: 100%;
    height: 100%;
    background: no-repeat center url(../img/columbia-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-wrapper h1 {
    color: white;
    font-size: 6em;
}

.section2-wrapper h1 span {
    background-color: #7BAABE;
    color: white;
    padding: 0px 10px;
}

.section2-wrapper p {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    /*background-color: rgba(123, 170, 190, 0.5);*/
}

.section2-wrapper p span {
    background-color: #7BAABE;
    color: white;
    padding: 0px 10px;
}

