@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTMediumOblique.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('DroidSerif-BoldItalic-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	color: rgba(0,0,0,0.6);
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'FuturaPT',futura,arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.arrow:hover {
    color: white;
}

.arrow-white {
    color: white;
}

 .arrow-white:hover {
    color: #7BAABE;
}

.section{
	text-align:center;
}

.section-welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-welcome-wrapper h1 {
    font-size: 8vmin;
    padding: 2% 15%;
    height: 15%;
    color: #ECF0F1;
}

.section-welcome-wrapper p {
    font-size: 4vmin;
}

#section-welcome img {
    width: 25vmin;
    border-radius: 50%;
    border: 5px solid #ECF0F1;
}

.section-data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.section-data-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

#section-data h1 {
    padding: 0% 10% 7%;
    font-size: 8vmin;
    color: #ECF0F1;
}

#section-data p {
    font-size: 3vmin;
}

.graph-frame {
    width: 70vmin;
    height: 70vmin;
    /*min-width: 400px;*/   
}   

@media (orientation: portrait) {
    .section-data-wrapper {
        flex-direction: column;
    }
    #section-data h1 {
        padding: 0% 3% 7%;
    }
    .section-data-text-wrapper {
        width: 70%;
        margin-bottom: 0.025%;
    }
}

.section-columbia-wrapper {
    width: 100%;
    height: 100%;
    background: no-repeat center url(../img/columbia-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-columbia-wrapper h1 {
    color: white;
    font-size: 12vmin;
    line-height: 20vmin;
}

.section-columbia-wrapper h1 span {
    background-color: #7BAABE;
    color: white;
    padding: 0px 10px;
}

.section-columbia-wrapper p {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 4vmin;
    /*background-color: rgba(123, 170, 190, 0.5);*/
}

.section-columbia-wrapper p span {
    background-color: #7BAABE;
    color: white;
    padding: 0px 10px 0px 0px;
}


@media (orientation: landscape) and (max-width: 1350px) {
    .section-columbia-wrapper h1 {
        font-size: 4em;
    }
    .section-columbia-wrapper p {
        margin-top: 20px;
        font-size: 1.5em;
    }
}

.section-photography-wrapper {
    width: 100%;
    height: 100%;
    background: no-repeat center url(../img/lion.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-photography-wrapper h1 {
    color: white;
    padding: 30px 30px 15px 30px;
    text-align: left;
    /*margin-top: -70px;*/
    font-size: 8vmin;
}

.section-photography-description {
    color: white;
    padding: 30px 30px 15px 30px;
    text-align: left;
    width: 30%;
    font-size: 3vmin;
}

.section-photography-footer {
    width: 40%;
    margin-top: auto;
    font-size: 2vmin;
    color: white;
    text-align: left;
    padding: 5px 5px;
    opacity: 0.7;
    margin-bottom: -70px;
}

.section-photography-arrow {
    align-self: center;
    color: white;
    padding: 5px;
}

.section-attend-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-attend-wrapper h1 {
    color: white;
    font-size: 12vmin;
    padding: 0% 10%;
}

.section-attend-wrapper p {
    color: rgba(255,255,255,0.5);
    font-size: 4vmin;
    padding: 3% 10%;
}

